EXPO_PUBLIC_SUPABASE_URL=https://xcrxltiiovpoladpaewd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-public-anon-key
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://example.com/privacy
EXPO_PUBLIC_SUPPORT_URL=https://example.com/support
